:root {
    --primary-color: #ff4757;
    --secondary-color: #e60000;
    --accent-color:#c90047;
    --background-color: #f0f0f0;
    --text-color: #5c5c5c;
    --button-hover-color: #ff6b81;
    --header-background: #2f3542;
}
body {
    font-family: Arial, sans-serif;
}

.varian {
    color: #1e90ff; /* Azul */
}

.tech {
    color: #2ed573; /* Verde */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #00004d;
    padding: 60px;
    color: #ffffff;
    text-align: center;
    position: relative;
}
.header-content{
    display: flex;
    justify-content: center;
}
.header-content h1{
    flex-grow: 1;
    margin: 0;
    text-align: center;
    font-size: 5rem;
}
.header-icons{
    display: flex;
    gap: 60px;
    margin-right: 110px;
    position:absolute;
    left: 50px;
    transform: translatY(-50%)
}

.header-icons img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s;
}


#search-icon img:hover,
#categorias-icon img:hover,
#cart-icon img:hover {
    filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}


#search-icon img,
#categorias-icon img,
#cart-icon img {
    filter: invert(36%) sepia(70%) saturate(4800%) hue-rotate(330deg) brightness(97%) contrast(100%);
}
.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    margin-left: 20px;
    position: relative;
}

.header-icons a img {
    width: 24px;
    height: 24px;
    filter: brightness(150%);
    transition: filter 0.3s ease;

}

.header-icons a:hover img {
    filter: brightness(200%);
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.categorias {
    display: none; /* Oculto por padrão */
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #00004d;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000; /* Certifique-se de que fique acima de outros elementos */
}

.categorias.visible {
    display: block; /* Mostra quando a classe 'visible' é adicionada */
}

#dropdown {
    position: relative;
}

.categorias h2 {
    margin-top: 0;
    font-size: 18px;
    color: var(--text-color);
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias ul li {
    margin: 10px 0;
}

.categorias ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.dropdown:hover .categorias {
    display: block; /* Mostra o menu ao passar o mouse */
}

.dropdown a#categorias-icon img {
    width: 30px;
    height: 30px;
    filter: brightness(150%);
    transition: filter 0.3s ease;
}

.dropdown a#categorias-icon:hover img {
    filter: brightness(100%);
}

.produtos, .carrinho {
    margin: 20px;
    padding: 20px;
    background-color: #353942 ;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.produtos h2, .carrinho h2 {
    text-align: center;
    color: var(--primary-color);
}

.produto {
    background-color: var(--accent-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, background-color 0.3s;
}

.produto a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor do texto conforme o estilo aplicado ao contêiner */
}

/* Adicionalmente, se quiser adicionar um efeito ao passar o mouse */
.produto a:hover {
    text-decoration: none; /* Garante que o sublinhado não apareça no hover */
    color: inherit; /* Mantém a cor original no hover */
}


.produto:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
}

.produto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.produto:hover img {
    transform: rotate(10deg) scale(1.1);
}

.produto h3 {
    margin: 10px 0;
    color: white;
}

.produto p {
    color: white;
    font-weight: bold;
}

.produto button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.produto button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.1);
}
.produto-detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    min-height: calc(100vh - 120px); /* Ajuste para considerar o header e o footer */
}

.produto-detalhes .produto {
    background-color: white;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.produto-detalhes .produto img {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

.produto-detalhes .detalhes {
    text-align: left;
    width: 100%;
    padding: 0 20px;
}

.produto-detalhes .detalhes h2 {
    font-size: 24px;
    color: var(--text-color);
}

.produto-detalhes .detalhes p {
    font-size: 18px;
    color: var(--text-color);
}

.produto-detalhes .detalhes ul {
    list-style: none;
    padding: 0;
}

.produto-detalhes .detalhes ul li {
    font-size: 16px;
    color: var(--text-color);
    margin: 5px 0;
}

.produto-detalhes .detalhes label {
    font-size: 16px;
    color: var(--text-color);
    margin: 10px 0;
}

.produto-detalhes .detalhes input[type="number"] {
    width: 50px;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px;
}

.produto-detalhes .botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.produto-detalhes .botoes button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 10px;
}

.produto-detalhes .botoes button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.1);
}
.carrinho {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.carrinho h2 {
    text-align: center;
    color: var(--primary-color);
}

.carrinho ul {
    list-style: none;
    padding: 0;
}

.carrinho ul li {
    background-color: var(--accent-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}

.carrinho ul li:hover {
    background-color: var(--hover-background-color);
    transform: scale(1.05);
    cursor: pointer;
}

#carrinho-total {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--header-background);
    color: white;
}
#categorias-icon img {
    width: 24px;
    height: 24px;
    filter: brightness(150%);
    transition: filter 0.3s ease;
}

#categorias-icon:hover img {
    filter: brightness(200%);
}

/* Adicione esses estilos para o contador de itens no carrinho */
#cart-counter {
    background-color: #ff4757;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
}

.search-bar {
    display: none;
    position: absolute;
    top: 50%;
    left: 40px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}
